<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.freya.onlinetech.mapper.CourseTagMapper">
    <select id="getCourseTag" resultType="java.lang.String">
        SELECT tag_content FROM coursetag,coursemaptag WHERE coursetag.tag_id = coursemaptag.tag_id AND coursemaptag.course_id=#{id};
    </select>


</mapper>