<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.freya.onlinetech.mapper.NewsMapper">

    <select id="getNewsTitle" resultType="NewsTitle">
        SELECT news.title,news.id FROM news  order by news.id desc LIMIT 10;
    </select>

    <select id="getGuanchazhe" resultType="Guanchazhe">
        SELECT * FROM guanchazhe;
    </select>


</mapper>